/Ejercicios_1semana/Entrada_Salida_Datos/nbproject/private/
/Ejercicios_1semana/Entrada_Salida_Datos/build/
/Ejercicios_2semana/condicional_if_ejercicio/nbproject/private/
/Ejercicios_2semana/condicional_if_ejercicio/build/
/Ejercicios_2semana/Condicional_if/nbproject/private/
/Ejercicios_2semana/Ejercicio_numero_positvo_negativo/nbproject/private/
/Ejercicios_2semana/Ejercicio_numero_positvo_negativo/build/
