/Ejercicios_1semana/Entrada_Salida_Datos/nbproject/private/
/Ejercicios_1semana/Entrada_Salida_Datos/build/
/Ejercicios_2semana/condicional_if_ejercicio/nbproject/private/
/Ejercicios_2semana/condicional_if_ejercicio/build/
/Ejercicios_2semana/Condicional_if/nbproject/private/
/Ejercicios_2semana/Ejercicio_numero_positvo_negativo/nbproject/private/
/Ejercicios_2semana/Ejercicio_numero_positvo_negativo/build/
/Ejercicios_2semana/Ejercicio_blucle_for/nbproject/private/
/Ejercicios_2semana/Ejercicio_blucle_for/build/
/Ejercicios_2semana/Ejercicio_for_sumaDeNumerosPrimos/nbproject/private/
/Ejercicios_2semana/Ejercicio_for_sumaDeNumerosPrimos/build/
/Ejercicios_3semana/While_numerosPares_Impares/nbproject/private/
